fastapi
uvicorn[standard]

SQLAlchemy
psycopg[binary]

pydantic
pydantic-settings
email-validator

passlib
bcrypt==4.0.1
python-jose

boto3
Pillow
pytesseract
PyMuPDF

pika

qdrant-client
langchain-core
langchain-huggingface
langchain-qdrant
langchain-text-splitters
langchain_groq

sentence-transformers